# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Kotlin plugin data
.kotlin

.claude/*
.claude/.env.*
docs/*
plans/*
CLAUDE.md
repomix-output.xml
